<section class="c-page-section">
  <div class="l-wrap">
    <h2 class="c-page-section__title">Contact</h2>
    <div class="c-page-section__content">
    <span class="c-page-section__line"></span>
    <p class="c-page-section__blurb">
      <a href="mailto:{{ site.email }}">Email me</a>, peruse my <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">GitHub</a>, check out my <a href="https://codepen.io/{{ site.codepen_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">CodePen</a> or connect with me on <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">LinkedIn</a>.
    </p>
    </div>
  </div>
</section>