<section class="c-page-section">
  <div class="l-wrap">
    <div class="c-page-section__inner">
      <h2 class="c-page-section__title">Currently</h2>
      <div class="c-page-section__content">
        <span class="c-page-section__line"></span>
        <div class="c-page-section__blurb">
          <p class="blurb__text">Web developer at
            <a href="https://montclair.edu" target="_blank" rel="noopener nofollow">Montclair State University</a>. Pursuing an MS in Computer Science degree at DePaul University.</p>
        </div>
      </div>
    </div>
  </div>
</section>
