<footer class="c-footer">
  <div class="l-wrap">
    <div class="c-footer__inner">
      <small class="c-footer__copy">&copy; 2018 Rudy Crespo</small>

      <ul>
        <li class="c-footer__link-item">
          <a href="mailto:{{ site.email }}">Email</a>
        </li>
        <li class="c-footer__link-item">
          <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">GitHub</a>
        </li>
        <li class="c-footer__link-item">
          <a href="https://codepen.io/{{ site.codepen_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">CodePen</a>
        </li>
        <li class="c-footer__link-item">
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
