<header class="c-page-section">
  <div class="l-wrap">
    <div class="c-page-section__inner">
      <h1 class="c-page-section__title--large">Hello,
        <span class="o-line-break">I&rsquo;m Rudy Crespo</span>
      </h1>
      <div class="c-page-section__content">
        <span class="c-page-section__line"></span>
        <div class="c-page-section__blurb">
          <p class="blurb__text">New York-based full stack developer dedicated to crafting elegant, accessible and performant web experiences.</p>
        </div>
      </div>
    </div>
  </div>
</header>
