<ul class="c-projects">
  {% for project in include.projects %}
    <li class="c-project">
      <article class="c-project__inner">
        <header class="c-project__header">
          <h3 class="c-project__title">
            <a href="{{ project.url }}" target="_blank">{{ project.name}}</a>
          </h3>
          <p class="c-project__description">{{ project.description }}</p>
        </header>
        <ul class="c-project__attributes">
          <li class="attributes__item" data-description="Context">{{ project.context }}</li>
          <li class="attributes__item" data-description="Role">{{ project.role }} </li>
          <li class="attributes__item" data-description="Technologies">{{ project.technologies }}</li>
          <li class="attributes__item" data-description="Year"><time>{{ project.year }}</time></li>
          <li class="attributes__item attributes__item--link">
            {% if project.github_url %}
            <a href="{{ project.github_url }}" target="_blank">View Code<span class="o-sr-only-text"> for {{ project.name }}</span></a>
            {% else %}
            <a href="{{ project.url }}" target="_blank">View Site<span class="o-sr-only-text"> for {{ project.name }}</span>
            </a>
            {% endif %}
          </li>
        </ul>
      </article>
    </li>
  {% endfor %}
</ul>