@mixin serif-text {
  font-weight: map-get($font-weight, regular);
}

@mixin sans-serif-text {
  font-family: $sans-serif-font;
  font-weight: map-get($font-weight, regular);
  font-feature-settings: "pnum";
}

@mixin base-sans-serif-text {
  font-size: modular-scale(0, 1.125rem);

  @include sans-serif-text();
}

@mixin media-query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
