@mixin serif-text {
  font-weight: map-get($font-weight, regular);
}

@mixin sans-serif-text {
  font-family: $sans-serif-font;
  font-weight: map-get($font-weight, regular);
  font-feature-settings: "pnum";
}

@mixin base-sans-serif-text {
  font-size: modular-scale(0, 1.125rem);
  line-height: strip-unit( modular-scale(1, 1.125));
  @include sans-serif-text();
}

@mixin global-border($side) {
  border-#{$side}: 1px solid;
  border-color: $border-color;
}

@mixin media-query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
