@mixin section-title {
  margin-bottom: modular-scale(-2);
  font-weight: map-get($font-weight, book);
}

@mixin small-text {
  font-family: $sans-serif-font;
  font-size: modular-scale(0);
}

@mixin media-query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
