.l-wrap {
  padding-left: modular-scale(2);
  padding-right: modular-scale(2);
}

.l-page-header,
.l-page-section:not(:last-of-type) {
  margin-bottom: modular-scale(6);

  @include media-query($sm-screen) {
    margin-bottom: modular-scale(7);
  }
}