.l-wrap {
  padding-left: modular-scale(2);
  padding-right: modular-scale(2);
}

.l-page-header,
.l-page-section:not(:last-of-type) {
  margin-bottom: modular-scale(7);
}

.g-1 {
  grid-column: span 1;
}

.g-2 {
  grid-column: span 2;
}