.c-footer__inner {
  padding: modular-scale(2) 0;
}

.c-footer__copy {
  font-size: modular-scale(0, 1.125em);
  color: $md-gray;
  @include sans-serif-text;

  @include media-query($sm-screen) {
    font-size: em(0);
  }
}