.c-page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  @include sans-serif-text;

  h1 {
    margin-bottom: em(-7);
    font-size: em(5);
    font-weight: inherit;
  }

  p {
    max-width: em(9);
    font-size: em(1);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    &:not(:last-child) {
      margin-bottom: em(0);
    }
  }

  @media(min-width: $sm-screen) {
    h1 {
      margin-bottom: em(-15);
      font-size: em(8);
    }

    p {
      max-width: none;
    }
  }
}