.c-page-section {
  &:not(:last-child) {
    margin-bottom: content-modular-scale(7);
  }
}

  .c-page-section__title,
  .c-page-section__title--large {
    @include section-title;
  }

  .c-page-section__title {
    font-size: modular-scale(5);
  }

  .c-page-section__title--large {
    font-size: modular-scale(6);
  }

  .c-page-section__content {
    display: grid;
    grid-template-columns: minmax(9%, modular-scale(5)) 1fr;
    grid-column-gap: content-modular-scale(4);
  }

    .c-page-section__line {
      position: relative;
      display: inline-block;
      width: inherit;
      top: modular-scale(-1);
      height: 4px;
      background-color: $lt-gray;
    }

    .c-page-section__blurb {
      font-size: modular-scale(2);
      line-height: strip-unit( modular-scale(1) );
    }

