.c-projects {
  display: grid;
  grid-template-columns: repeat(2, 5 / 12 * 100%);
  grid-column-gap: 2 / 12 * 100%;
  grid-row-gap: modular-scale(4);
}

  .c-project__header:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $lt-gray;
    margin: content-modular-scale(1) 0;
  }

    .c-project__title {
      margin-bottom: modular-scale(-2);
      color: $black;
      font-size: modular-scale(3);
      font-weight: map-get($font-weight, bold);
    }

    .c-project__description {
      font-size: modular-scale(1);
    }

  .c-project__attributes {
    display: flex;
    justify-content: space-between;
    
    .attribute__name,
    .attribute__val {
      @include small-text;
    }

      .attribute__name {
        margin-bottom: modular-scale(-8);
      }

      .attribute__val {
        color: $black;
      }
  }