.c-site-container {
  max-width: content-modular-scale(14);
  margin: 0 auto;
  padding-top: content-modular-scale(7);

  main {
    margin-bottom: content-modular-scale(7);

    @include media-query($sm-screen) {
      margin-bottom: content-modular-scale(8);
    }
  }
}