.c-site-container {
  max-width: modular-scale(15);
  margin: 0 auto;
  padding-top: modular-scale(6);

  main {
    margin-bottom: modular-scale(6);
  }

  @include media-query($sm-screen) {
    padding-top: modular-scale(7);

    main {
      margin-bottom: modular-scale(7);
    }
  }
}