--- 
layout: default 
---

{%- include page-section.html title='Currently' blurb='Front-End Developer II at RE/MAX.' -%}

{% comment %} {%- include page-section.html title='Selected Work' projects=site.data.projects -%} {% endcomment %}

{% capture contact_info %}
  <a href="mailto:{{ site.email }}">Email me</a>, peruse my
  <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">GitHub</a>, check out my
  <a href="https://codepen.io/{{ site.codepen_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">CodePen</a> or connect with me on
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" target="_blank" rel="noopener nofollow">LinkedIn</a>.
{% endcapture %}

{%- include page-section.html title='Contact' blurb=contact_info -%}
