html {
  box-sizing: border-box;
  color: $md-gray;
  font-family: $serif-font;
  font-size: 18px;
  line-height: strip-unit( modular-scale(1));
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}