h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    @include position(absolute, null 0 0 0);
  }

  &:before {
    z-index: 1;
    width: 0;
    background-color: $white;
    will-change: width;
    transition: width 1s ease-in-out;
  }

  &:after {
    z-index: 0;
    background-color: rgba($white, .25);
  }
  
  &:hover:before {
    width: 100%;
  }
}
