h1,
h2,
h3,
p,
ul,
dl,
dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  position: relative;
  color: $white;
  text-decoration: none;
  transition: border-color .25s ease-in-out;
  @include global-border(bottom);

  &:hover {
    border-color: $white;
  }
}
